@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.bg-home {
    position: relative;
    height: 100vh;
}

.img-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-menu {
    width: 100vw;
    height: 5vh;
    z-index: 1;
}

.menu {
    width: 18vw;
    margin: 0 auto;
    padding: 15px 0;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.menu nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menu nav ul li {
    list-style: none;
    color: #fff;
}

.menu nav ul li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.menu nav ul li a:hover {
    color: #ccc;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.logo img {
    width: 100%;
    height: 100%;
}

.info {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 30px;
}

.info p {
    font-size: 20px;
    font-weight: 100;
    color: #fff;
}

.cardapio{
    background-color: #1B1D20;
}

.cardapio-container {
    width: 80vw;
    height: auto;
    margin: 50px auto;
}

.titulo-secao{
    padding-top: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.titulo-secao h1{
    text-align: center;
    font-size: 40px;
    color: gray;
}

.box-menu {
    display: flex;
}

.entrada {
    width: 40vw;
    height: auto;
    margin: 50px;
}

.principal {
    width: 40vw;
    height: auto;
    margin: 50px;
}

.sobremesa {
    width: 40vw;
    height: auto;
    margin: 0px 50px;
}

.bebidas {
    width: 40vw;
    height: auto;
    margin: 0px 50px;
}

.titulo-opcao{
    font-size: 26px;
    font-weight: bold;
    color: #ED6F5F;
    text-align: center;
    text-transform: uppercase;
}

.item {
    width: 100%;
    height: auto;
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
}

.item-titulo {
   width: 80%;
   text-align: left;
}

.item-titulo p{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.item-preco{
    width: 20%;
    font-size: 22px;
    font-weight: 600;
    text-align: right;
    color: #fff;
}

.item-ingredientes{
    width: 80%;
    height: auto;
    text-align: left;
    color: gray;
    font-size: 18px;
}

.sobre{
    background-color: #1B1D20;
}

.sobre-container {
    width: 80vw;
    height: auto;
    margin: 0px auto;
}

.area-somos{
    display: flex;
    margin: 50px auto;
}

.historia{
    width: 40vw;
    height: auto;
}

.historia h3{
    font-size: 26px;
    font-weight: bold;
    color: #ED6F5F;
    text-align: center;
}

.historia-bistrot p{
    padding: 20px 0px 10px 0px;
    font-size: 18px;
    color: gray;
    text-align: left;
}

.chef{
    width: 40vw;
    height: auto;
}

.chef h3{
    font-size: 26px;
    font-weight: bold;
    color: #ED6F5F;
    text-align: center;
}

.historia-chef p{
    padding: 20px 0px 10px 50px;
    font-size: 18px;
    color: gray;
    text-align: left;
}

.sobre-empresa{
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    
}

.card {
    width: 20vw;
    height: auto;
    border-radius: 5px;
}

.card-title{
    font-size: 26px;
    font-weight: bold;
    color: #ED6F5F;
    text-align: center;
    margin-top: 20px;
}

.card-text{
    padding: 20px;
    font-size: 18px;
    color: gray;
    text-align: center;
    font-style: italic
}